* {
    font-family: Arial, sans-serif;
}

header {
    /* border: .1em solid #b1afaf; */
    height: 3em;
    margin-bottom: 2em;
}

#nav-bar {
    position: relative;
    text-align: right;
    margin: 1em 0;
    
}

.site-logo, #nav-bar img {
    cursor: pointer;
}

.search-btn {
    margin: 1.3em .5em;
}
.shop-crt {
    margin-right: 1.5em;
    margin-top: 1em;
}

.num-Cart-Items {
    margin-top: -2.8em;
    margin-right: 2em;
}

#nav-bar input {
    position: absolute;
    top: 1.8em;
    left: 55%;
    width: 30%;
    height: 2em;
    border: .1em solid #666666;
    border-radius: 1.5em;
    background-color: #d1c9c9;
    text-align: center;
}

::placeholder {
    text-align: center;
    color: #fff;
}

#nav-bar input + img {
    position: absolute;
    left: 86%;
}

.logo {
    position: absolute;
    left: 1em;
    font-size: 2em;
    animation: App-logo-spin infinite 20s linear;
}

.intro {
    margin-top: 5em;
}

.intro-message {
    width: 70%;
    margin: 2em auto;
}

.intro-message span {
    font-weight: 600;
}

.logo-name {
    position: absolute;
    top: -.6em;
    left: 2em;
    font-size: 3em;
    font-weight: 100;
}

.pretty {
    text-align: center;
    text-shadow: 10px 10px 10px #646464;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
}

.container div {
    cursor: pointer;
    padding: 1.5em;
    border-radius: .5em;
    width: 15em;
    box-shadow: 1em 1em 1em #b1afaf;
}

.container div ul {
    list-style: none;
    margin-left: -2.3em;
}

.container span {
    font-weight: 600;
}

.container img {
    width: 230px;
    height: 230px;
}

.modal-pop-up {
    display: none;
    width: 100%;
    margin-top: 3em;
}

.modal-pop-up div {
    position: relative;
    margin: 4em auto;
    width: 80%;
    box-shadow: 1em 1em 1em #b1afaf;
}

.modal-pop-up h3 {
    font-size: 1em;
    margin-left: 1.5em;
    cursor: pointer;
}

.modal-pop-up h3 + p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

.modal-pop-up img {
    width: 25em;
    height: 25em;
    margin-left: 6em;
}

.modal-pop-up h2 {
    position: absolute;
    top: -1.2em;
    left: 55%;
    right: 0;
}

.modal-pop-up ul {
    position: absolute;
    list-style: none;
    top: 1em;
    left: 34em;
    font-weight: 600;
}

.modal-pop-up ul p {
    font-weight: 400;
}

.modal-pop-up li img, #nav-bar img {
    width: 2em;
    height: 2em;
    margin-left: 0;
}

.modal-pop-up li p + span {
    position: absolute;
    top: 4.7em;
    left: 5em;
    font-weight: 400;
}

.modal-pop-up li ul li:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.modal-pop-up button {
    border: .1em solid #b1afaf;
    margin-top: 9em;
    margin-left: .3em;
    width: 80%;
    height: 4em;
    font-size: 1em;
    background-color: #1936da;
    color: #fff;
}

.modal-pop-up button:hover {
    background-color: rgba(14, 28, 226, 0.6);
}

.Cart {
    display: none;
    position: absolute;
    background-color: #eeebeb;
    width: 35%;
    height: 100%;
    border-radius: 0 0 0 .5em;
    overflow: auto;
    margin-top: -5em;
    margin-left: 64.22%;
    z-index: 100;
    box-shadow: .5em .5em 1em #646464;
}

.reSizeCart {
    height: 30%;
}

.exit {
    position: absolute;
    top: 1em;
    right: 1em;
    list-style: none;
    font-weight: 600;
    cursor: pointer;
}

.Cart h2 {
    margin-left: 1em;
}

.Cart p {
    margin-left: .5em;
}

.itemContainer div {
    position: relative;
}

.Cart .itemContainer div {
    width: 80%;
    margin: .3em auto;
    border: .1em solid #646464;
    margin-bottom: 2em;
    padding: .5em;
    border-radius: .5em;
}

.itemContainer div ul {
    position: absolute;
    list-style: none;
    top: 6em;
    right: 2em;
    left: 7em;
}

.Cart .itemContainer div img {
    width: 7em;
    height: 7em;
}

footer {
    background-color: #ececec;
    height: 8em;
    margin-top: 4em;
    border-radius: 0 0 .5em .5em;
}


@keyframes App-logo-spin {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}